<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<comment>
		Bookgenre SQL
	</comment>

	<entry key="save">
	INSERT
	  INTO
	       TB_BOOK_GENRE(
	       GENRE_NO
	     , GENRE_NAME
	     , LOCATION_PLACE
	       )
	VALUES
	       (
		   SEQ_GENRE_NO.NEXTVAL
	       , ?
	       , ?
	       )

	</entry>

	<entry key="findAll">
	SELECT
	       GENRE_NO
	     , GENRE_NAME
	     , LOCATION_PLACE
	 FROM
	       TB_BOOK_GENRE
	ORDER
	   BY
	       GENRE_NO ASC

	</entry>

	<entry key="update">
	UPDATE
		   TB_BOOK_GENRE
	   SET
	       LOCATION_PLACE =?
	 WHERE
	       GENRE_NAME =?
       

	</entry>

	<entry key="delete">
	DELETE
	  FROM
	       TB_BOOK_GENRE
	 WHERE
	       GENRE_NAME = ?
	   AND
	       LOCATION_PLACE = ?
       

	</entry>
</properties>