<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<comment>
	libarymember-mapper
	</comment>
	
	<entry key="memberInsert">
		INSERT
		  INTO
		       TB_LIBRARY_MEMBER
		VALUES
		       (
		       MEMBER_NO
		     , ?
		     , ?
		       )	  
	</entry>

   
</properties>


